.forumList__wrapper {
    color: black;
    width: 100%;
    position: relative;
    top: 10px;
}

.forumList__flex {
    border-bottom: 2px solid rgb(218, 216, 216);
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    
}

.forumList__back__button {
    background: #F8F9FA;
    height: 30px;
    margin-left: 8px;
    width: 70px;
    text-align: center;
}

.forumList__search {
    height: 30px;
    width: 175px;
    padding: 0 0 0 10px;
}

.forumList__newPost__button {
    background: #0079D3;
    color: #FFF;
    height: 30px;
    margin-right: 20px;
    width: 70px;
}

// individual posts

.forumPage__list__post__container {
    background: rgb(250, 250, 250);
    border: none;
    border-bottom: 1px rgb(224, 224, 224) solid;
    border-top: 1px rgb(221, 221, 221) solid;
    border-radius: 3px;
    margin: 0 auto;
    width: 100%;
}

.forumPage__list__post__wrapper {
    position: relative;
}

.forumPage__list__profilePicture__username__wrapper {
    float: right;
    margin-bottom: -30px;
    margin-right: 40px;
    margin-top: -3px;
    text-align: center;
}

.forumPage__list__profilePicture {
    margin-bottom: -10px;
}

.forumPage__list__username {
}

.forumPage__list__title {
    margin-left: 40px;
}

.forumPage__list__date {
    color: #858D95;
    margin-left: 40px;
}