.topic__text {
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 160%;
    font-weight: 500;
    padding: 10px;
    margin-left: 10px;
}

// .forumList__container {
//     background: #3d3d3d;
//     margin: 0 auto;
//     margin-top: -2px;
//     width: 90%;
//     height: 88vh;
// }

.topic__container {
    border-radius: 2px;
    border: none;
    background: #FFFFFF;
    box-shadow: 2px 10px rgba(0, 0, 0, 0.014);
    height: 50px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;    
    position: relative;
    top: 30px;
}