.subForum__wrapper {
    margin: 0 auto;
}

.subForum__container {
    background: #ffffff;
    color: black;
    padding-bottom: 15px;
    margin-top: 10px;
}

.subForum__title__container {
    background: #f3f3f3;
    font-family: 'Roboto';
    padding-bottom: 3px;
    padding-left: 15px;
    padding-top: 1px;
}

.subForum__title__title {
    margin-bottom: -5px;
    margin-top: 5px;
}

.subForum__flex {
    display: flex;
}

.subForum__upvotes__amount {
    margin-left: 20px;
}

.subForum__upvotes {
    margin-left: 10px;
    margin-top: 13px;
}

.subForum__text {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 300;
    margin-top: -5px;
    padding-left: 5px;
    width: 80%;
}

.subForum__user {
    background: #f3f3f3;
    height: 50px;
    margin-right: 20px;
    float: right;
    width: 140px;
}

.subForum__delete__button {
    margin-left: 12px;
}

.subForum__comment__container {
    display: flex;
}

.subForum__username {
    margin-left: 7px;
    margin-top: 0px;
}

.subForum__profilePicture {
    border-radius: 1px;
    height: 30px;
    margin-left: 10px;
    width: 30px;
}

.subForum__date {
    font-size: 8px;
    margin-left: 10px;  
    margin-top: -5px; 
    position: relative;
    top: 7px;
}

.subForum__back__button {
    margin-bottom: 10px;
    margin-left: 15px;
    position: relative;
    top: 6px;
}