* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #DAE0E6;
  color: #E6E6EA;
  line-height: 1.6;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
